<div th:fragment="footer">
    <footer class="bg-dark text-white py-3">

        <div class="d-flex mb-3">
            <div class="me-auto p-2">
                <p><strong>Mantén un registro de los juegos que has completado.</strong><br>
                    Descubre recomendaciones y más uniéndote a nuestra comunidad.</p>
            </div>
            <div class="p-3">
                <a class="btn btn-outline-success me-2" th:href="@{/login}">Iniciar sesión</a>
                <a class="btn btn-outline-success" th:href="@{/registro}">Registrarse</a>
            </div>
        </div>

        <hr>

        <div class="container text-center p-2">
            <div class="row">
                <div class="col">
                    <a href="#">Iniciar sesión</a>
                </div>
                <div class="col">
                    <a href="/registro">Registrarse</a>
                </div>
                <div class="col">
                    <a href="#">Juegos</a>
                </div>
                <div class="col">
                    <a href="#">Top juegos</a>
                </div>
                <div class="col">
                    <a href="#">Recomendaciones</a>
                </div>
                <div class="col">
                    <a href="#">Foro</a>
                </div>
                <div class="col">
                    <a href="#">Mi perfil</a>
                </div>
                <div class="col">
                    <a href="#">Sobre nosotros</a>
                </div>
            </div>
        </div>

        <hr>

        <p class="text-center">© 2024 GameStack. Todos los derechos reservados.</p>
    </footer>
</div>