<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Mi Sitio</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Navbar -->
<div th:replace="layout/header :: navbar"></div>

<div th:fragment="content" class="flex-grow-1">
    <div class="d-flex align-items-center justify-content-center text-white text-center"
         style="background: url('https://i.blogs.es/4d650a/gogga/1366_521.jpeg') center/cover; height: 400px; width: 100%;">
        <h2>Unete ahora y registra todos tus juegos, no olvides lo que has jugado y descubre tu próxima aventura.

            UNETE A NUESTRA COMUNIDAD DE JUGADORES</h2>
    </div>


</div>

<!-- Footer -->
<div th:replace="layout/footer :: footer"></div>

</body>
</html>